<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet_admin</display-name>
    <servlet-name>Servlet_admin</servlet-name>
    <servlet-class>controller.Servlet_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_admin</servlet-name>
    <url-pattern>/Servlet_admin</url-pattern>
  </servlet-mapping>
  <display-name>HaLaStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Servlet_new</servlet-name>
    <servlet-class>controller.Servlet_new</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet_newAll</servlet-name>
    <servlet-class>controller.Sevlet_newAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet_home</servlet-name>
    <servlet-class>controller.Servlet_home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet_product_describe</servlet-name>
    <servlet-class>controller.Servlet_product_describe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_new</servlet-name>
    <url-pattern>/Servlet_new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet_newAll</servlet-name>
    <url-pattern>/Servlet_newAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet_home</servlet-name>
    <url-pattern>/Servlet_home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet_product_describe</servlet-name>
    <url-pattern>/Servlet_product_describe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_qlsp</display-name>
    <servlet-name>Servlet_qlsp</servlet-name>
    <servlet-class>controller.Servlet_qlsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_qlsp</servlet-name>
    <url-pattern>/Servlet_qlsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_themvasua</display-name>
    <servlet-name>Servlet_themvasua</servlet-name>
    <servlet-class>controller.Servlet_themvasua</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_themvasua</servlet-name>
    <url-pattern>/Servlet_themvasua</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_qlnd</display-name>
    <servlet-name>Servlet_qlnd</servlet-name>
    <servlet-class>controller.Servlet_qlnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_qlnd</servlet-name>
    <url-pattern>/Servlet_qlnd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_xemnd</display-name>
    <servlet-name>Servlet_xemnd</servlet-name>
    <servlet-class>controller.Servlet_xemnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_xemnd</servlet-name>
    <url-pattern>/Servlet_xemnd</url-pattern>
  </servlet-mapping>
</web-app>