/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 19, 2023, 9:38:41 AM
    Author     : Admin
*/
.new {
	width: 1200px;
	margin: auto;
	padding-bottom: 30px;
	background: rgb(241, 241, 241);
	box-shadow: 0 1px 2px 0 rgb(60 64 67/ 10%), 0 2px 6px 2px
		rgb(60 64 67/ 15%);
	overflow: auto;
	font-family: sans-serif;
}

.new .tieude {
	display: flex;
	justify-content: space-between;
}

.new .tieude .xemthem {
	height: 30px;
	width: 110px;
	margin-top: 20px;
	margin-right: 20px;
}

.new .tieude a {
	text-decoration: none;
	font-size: 20px;
	display: block;
	line-height: 30px;
	text-align: center;
	color: gray;
}

.new .tieude a:hover {
	color: red;
}

.new .pro a {
	text-decoration: none;
	color: black;
}

.new .pro ul {
	list-style: none;
	padding: 0px;
}

.new .pro .new_x {
	width: 250px;
	height: 270px;
	box-shadow: 0 1px 2px 0 rgb(60 64 67/ 10%), 0 2px 6px 2px
		rgb(60 64 67/ 15%);
	margin-right: 10px;
	margin-left: 17px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	padding: 10px;
}

.new .pro .new_x .hinhanh {
	width: 250px;
	height: 200px;
}

.new .pro .new_x .hinhanh img {
	width: 100%;
	height: 100%;
}

.new .pro .new_x .tentin {
	display: block;
	display: -webkit-box;
	font-size: 16px;
	line-height: 1.3;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	font-weight: bold;
}