*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* login */
.login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container{
    background-color: #fff;
    width: 500px;
    height: 426px;
    position: relative;
    border-radius: 1.02rem;
}
.login__close{
    position: absolute;
    right: 5px;
    top: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 8px;
    border-radius: 1.05rem;
}
.login__close:hover{
    cursor: pointer;
    background-color: red;
    color: #fff;
}
.login__close__icon{
    color: #fff;
}
.login__header{
    font-size: 16px;
    text-transform: uppercase;
    color: #d70018;
    text-align: center;
    padding: 12px;
    font-family: sans-serif;
}

.login__body{

}
.login__form{
    width: 100%;
    max-width: 440px;
    padding: 11px 11px;
    margin: 9px 30px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}
.login__help{

}
.login__help__link{
    float: right;
    margin-right: 30px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
.login__help__link:hover{
    text-decoration: underline;
}
.login__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
    max-width: 440px;
    margin-left: 30px;
}
.login__butlogin{
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px 17px;
    font-weight: 600;
    color: #fff;
    background-color: #d70018;
    border-radius: 4px;
    border: none;
}
.login__butlogin:hover{
    cursor: pointer;
}
.login__hoac{
    margin: 13px;
}
.login__butgg{
    width: 100%;
    font-size: 17px;
    padding: 8px 17px;
    color: #cc0f35;
    background-color: #feecf0;
    border-radius: 4px;
    border: none;
}
.login__butgg:hover{
    cursor: pointer;
}
.login__helptk{

}
.login__helptk__text{
    font-size: 17px;
    margin: 25px;
}
.login__linkdk{
    text-decoration: none;
    color: #485fc7;
}